
<div id="circle"></div>
<!--Block 1-->
<div class="container">
<div class="about-our-project">
    <div class="row">
    <div class="col-lg-8">
    <div class="about-our-project-description">
        <span class="head">О нашем проекте</span><br><br>
        <span>Наш проект «Психотип и его влияние на обучение» направлен на изучение 
связи между индивидуальным психотипом и эффективностью обучения.  Мы 
считаем, что при применении составленных нами рекомендаций можно 
выстроить конструктивное общение и поведение человека с целью 
достижения результатов в учёбе. Мы предлагаем пройти тестирование по 
методике А. С. Прутченкова и А. А. Сиялова, узнать свой психотип и 
воспользоваться составленными рекомендациями.</span>
    </div>
    </div>
    <div class="col-lg-4">
        <img src="../public/image/Brain-Graphic-AdobeStock_218406540-scaled.jpeg" width="150%" height="100%" style="border-radius: 10px" class="adaptive-image">
    </div>
    </div>
</div>
<!--Block 1-->
 
<!--Block 2-->
<div id="circle2"></div>

    <div class="statistic-project">
        <div class="statistic-description">
            <span>Статистика</span>
        </div>
        <div class="statistic-full-object">
        <div class="row">
            <div class="col images-statistic">
            <div class="statistic-image">
                <img src="../public/image/diagramma.png" width="95%" height="100%" style="border-radius: 40px; border: none;">
        </div>
        <div class="col descriptions-statistic">
            <span>Акцентуация характера (далее психотип) – преувеличенное развитие 
отдельных свойств характера. Выраженность акцентуации может быть 
различной – от легкой, заметной лишь ближайшему окружению, до крайних 
вариантов, когда приходится задумываться, нет ли болезни – психопатии. 
Наша команда, чтобы сравнить психотипы людей в сфере обучения, решили 
воспользоваться методикой А. С. Прутченкова, А. А. Сиялова и провести 
тестирование "Чёртова Дюжина". 
При анализе результатов тестирования, которое мы проводили среди групп 1-
х и 2-х курсов в составе 175 человек, мы составили диаграмму, на которой 
наглядно видно, что успеваемость психотипов совпадает с теоретическим 
описанием. Так, циклоид и параноик, которые встречаются чаще всего среди 
опрошенных, более успешны в учёбе. Это может быть связано с тем, что 
обладатели этих психотипов работают на свое успешное будущее и 
добиваются своих целей, чего нельзя сказать про неустойчивый тип, который 
отличился успеваемостью в плохом смысле. Это люди со слабым характером. 
Они не могут усидеть на месте, часто меняют свою деятельность, у них 
быстро пропадает интерес. </span>
        </div>
            </div>
            </div>
        </div>
    </div>
</div>
<!--Block 2-->

<!--Block 3-->

<div class="join-test-main">
<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <div class="join-test-description">
                <span class="test-active">Пройти тест</span><br><br>
                <span>Тест «Чёртова Дюжина»  для определения личностных акцентуаций  создан 
по методике А. С. Прутченкова и А. А. Сиялова. Узнайте свой психотип, 
чтобы воспользоваться составленными рекомендациями.</span><br><br>
                <button type="submit"><a href="/tests" style="text-decoration: none; color: white;">Пройти</a></button>
            </div>
        </div>
        <div class="col-lg-4">
            <img src="../public/image/eye-test.png" width="130%" height="100%" class="class-ing">
        </div>
    </div>
</div>
</div>
<!--Block 3-->


<!--Block 4-->
<div class="container">
<div class="recomendation-main">
    <div class="recomendation-description">
        <span>После анализа результатов тестирования, мы сделали вывод: психотип 
        человека влияет на его обучение. Поэтому мы составили рекомендации, при 
        использовании которых каждый психотип сможет выстроить своё поведение 
        и конструктивное общение, что поможет улучшить результаты в учёбе. 
        Имеет смысл выполнять рекомендации к психотипу, акцентуация которого у 
        вас более выраженная.</span>
    </div>


    <div class="recomendate-header">
        <span>Рекомендации</span>
    </div>

    <div class="recomendation-card">
    <div class="row">
        <div class="col-lg-12">
            <div class="card background-card">
                <div class="card-title" style="font-size: 30px; font-weight: bold; font-family: 'Montserrat', sans-serif; color: white;">Параноик</div>
                <div class="card-body descriptions-card">
                    <span>- В течение дня будьте спокойным по отношению к другим людям, не делайте замечаний.</span><br>
                    <span>- Сделайте максимально приятным разговор с человеком. Постарайтесь, чтобы этому человеку с вами было хорошо, спокойно,  и у него появилось желание еще раз встретиться и поговорить с вами. Затем еще раз поговорите с ним и узнайте, что он думает о прошлой вашей беседе.</span><br>
                    <span>- При встрече с любым человеком первая ваша фраза должна быть 
такой: «Я рад тебя видеть!» Говорите  это от всего сердца или  
подумайте так и только после этого начинайте разговор. Если в ходе 
беседы вы почувствуете раздражение или гнев, то каждые 2—3 мин 
произносите мысленно или вслух эти слова: «Я рад тебя видеть!».</span><br>
                    <span>- Старайтесь чаще встречать окружающих доброй и приветливой 
улыбкой, тем более, когда к вам обратятся.</span><br>
                </div>
            </div>
        </div>

        <div class="col-lg-12">
            <div class="card background-card">
                <div class="card-title" style="font-size: 30px; font-weight: bold; font-family: 'Montserrat', sans-serif; color: white;">Эпилептоид</div>
                <div class="card-body descriptions-card">
                    <span>- Попытайтесь выполнять желания близких, родных вам людей, своих 
знакомых, одноклассников. Попробуйте жить в соответствии с теми 
требованиями, которые предъявляют они, а не вы. Постепенно 
увеличивайте круг людей, желания которых вы будете выполнять.</span><br>
                    <span>- В ходе деловой беседы или простого разговора постарайтесь 
периодически передавать инициативу вашему собеседнику, 
например, спрашивая его: «А как вы считаете? Что вы думаете по 
этому вопросу?» Еще лучше, если вы будете говорить о том, что 
интересно, и что волнует вашего собеседника. Не делайте замечаний 
по поводу манеры общения вашего собеседника, напротив, похвалите 
его. Но делать это нужно без иронии, доброжелательно.</span><br>
                    <span>- Научитесь относиться ко всему, что с вами происходит, как 
осознанный мудрый человек, созерцательно, т.е., прежде чем 
реагировать на чьи-либо слова или поступки, спросите себя: «А как 
бы поступил на моем месте мудрый человек? Что бы он сказал и 
сделал?» Принимайте решение и действуйте лишь после нескольких 
минут такого спокойного созерцательного размышления.</span><br>
                </div>
            </div>
        </div>

        <div class="col-lg-12">
            <div class="card background-card">
                <div class="card-title" style="font-size: 30px; font-weight: bold; font-family: 'Montserrat', sans-serif; color: white;">Гипертим</div>
                <div class="card-body descriptions-card">
                    <span>- Возьмите себе за правило — периодически приводить в порядок свои 
вещи, книги, учебники, записи. Для начала наведите элементарный 
порядок у себя па столе. Определите каждому предмету конкретное 
место и в дальнейшем постарайтесь класть его именно туда. «Навести 
порядок в своих мыслях» вы можете с помощью дневника или 
еженедельника, в котором следует записывать основные дела на 
предстоящий день и вечером проверять, всели вы выполнили из того, 
что было задумано. Стремитесь осуществить все намеченное.</span><br>
                    <span>- Давайте учиться делать одно пусть маленькое дело, но до конца. 
Установите очередность и приступайте к выполнению. До тех пор 
пока вы не закончите работу, никаких увеселений. Пусть это будет 
только раз в неделю, но обязательно одно дело доводим до конца.</span><br>
                    <span>- На листе бумаги запишите все свои планы на предстоящий" день. 
Теперь подумайте и зачеркните то, что «ы вряд ли сможете 
выполнить. Еще раз просмотрите оставшиеся пункты. Если не 
возникло желание вычеркнуть, то оставьте без изменений. Все 
оставшееся нужно выполнить! Приучайте себя осуществлять 
намеченное. Рекомендуем составить такой же план на предстоящую 
неделю, месяц, год. И так же поработать с ним.</span><br>
                </div>
            </div>
        </div>

        <div class="col-lg-12">
            <div class="card background-card">
                <div class="card-title" style="font-size: 30px; font-weight: bold; font-family: 'Montserrat', sans-serif; color: white;">Истероид</div>
                <div class="card-body descriptions-card">
                    <span>- Возьмите себе за правило некоторое время быть флегматиком. 
Говорите ровным н тихим голосом, медленно и спокойно, обдумывая 
свои слова. Так же сдержанно ведите себя с людьми. Начните с 10 
минут в течение дня и доведите это время до 2—3 часов. Обязательно 
проанализируйте свои ощущения и чувства, которые вы испытываете, 
общаясь с людьми, в этой роли.</span><br>
                    <span>- Еще одна популярная роль - репортер (специализацию выберите 
самостоятельно). А теперь спокойным, ровным голосом передавайте 
информацию в редакцию. Можно это делать и в письменной форме. 
Играйте роль репортера 2—3 раза в день, особенно тогда, когда вам 
захочется рассказать о своем очередном выдающемся достижении.</span><br>
                    <span>- Тимуровцы — это ребята, которые делают добрые дела и никому не 
говорят об этом. Итак, несколько раз в день вы будете играть эту 
роль. Сделайте кому-либо доброе дело, но так, чтобы человек не 
узнал, что это сделали именно вы. И постарайтесь не говорить ему об 
этом. Понаблюдайте за его реакцией, вместе с ним удивитесь и 
обрадуйтесь, но ни за что не говорите, кто это сделал.</span><br>
                    <span>- Во время веселой вечеринки или в дружеской компании целый час 
(лучше - два, а еще лучше - три) постарайтесь сидеть в стороне, молча 
наблюдая за всем происходящим. Останьтесь в стороне, если вас 
будут просить принять участие в веселье. При этом постарайтесь 
понаблюдать за присутствующими. Не узнаете ли вы себя и 
некоторых из них? Если да, то, может быть, что-то захочется 
изменить и в себе?</span><br>
                </div>
            </div>
        </div>

        <div class="col-lg-12">
            <div class="card background-card">
                <div class="card-title" style="font-size: 30px; font-weight: bold; font-family: 'Montserrat', sans-serif; color: white;">Шизоид</div>
                <div class="card-body descriptions-card">
                    <span>- Во время каких-либо бесед стремитесь быть оратором: говорите 
чётко, громко, так, чтобы привлечь внимание. Не забудьте, что ваша 
речь должна быть понятна собеседнику. Время от времени 
спрашивайте у него: «Ты понимаешь, о чем я говорю?»</span><br>
                    <span>- На вечеринке или другом дружеском мероприятии старайтесь не 
сидеть в стороне, а попробуйте сыграть роль массовика-затейника. 
Предложите участникам мероприятия какое-нибудь интересное 
общее занятие и организуйте его, привлеките как можно больше 
людей.</span><br>
                    <span>- Во время разговора попытайтесь почувствовать чувства собеседника, 
которые он испытывает от общения с вами.  Можно об этом прямо 
спросить его: «Тебе интересно? Ты не устал? Может, ты хочешь 
отдохнуть?»</span><br>
                </div>
            </div>
        </div>


        <div class="col-lg-12">
            <div class="card background-card">
                <div class="card-title" style="font-size: 30px; font-weight: bold; font-family: 'Montserrat', sans-serif; color: white;">Психостеноид</div>
                <div class="card-body descriptions-card">
                    <span>- В  ситуации, где нужно принять не очень принципиальное решение, 
сделайте это сразу, решительно и бесповоротно; не начинайте долгие 
рассуждения, ограничьтесь одной минутой. Далее следует не 
отступать от этого решения. Постарайтесь перевести как можно 
больше ваших дел в разряд «не очень принципиальных», чтобы их 
выполнение не зависело от долгих размышлений.</span><br>
                    <span>- Позвольте себе иногда безрассудные поступки, рискните и, самое 
главное, не расстраивайтесь, если вы не получите нужный результат. 
Ведь жизнь так увлекательна  и интересна. Возьмите себе за правило 
хотя бы один раз в день (неделю) совершать рискованный поступок.</span><br>
                    <span>- Во время принятия мало-мальски важного решения нам часто 
приходится прислушиваться к различным внутренним голосам, 
которые советуют совсем противоположное. Научитесь быстро 
принимать решение по совету одного из этих голосов.</span><br>
                </div>
            </div>
        </div>        

         <div class="col-lg-12">
            <div class="card background-card">
                <div class="card-title" style="font-size: 30px; font-weight: bold; font-family: 'Montserrat', sans-serif; color: white;">Сензитив</div>
                <div class="card-body descriptions-card">
                    <span>- Когда вы не уверены в себе или чего-то боитесь, вспоминайте 
приятные, добрые моменты из жизни. Настройтесь на состояние 
«полного покоя души» и постарайтесь находиться в этом состоянии 
как можно дольше. Запомните это состояние.</span><br>
                    <span>- В трудной ситуации вам лучше всего представить себя киногероем 
— сильным, уверенным в себе, у которого все и всегда получается. 
Войдите в этот образ и действуйте так же, как он, ваш киногерой. 
Говорите громко и четко, ходите уверенно и с чувством собственного 
достоинства, ведь на вас смотрят ваши почитатели. Ведите себя так 
до тех пор, пока не пройдет чувство страха и неуверенности в своих 
силах.</span><br>
                    <span>- Вам следует расширять круг своих знакомых. Для этого нужно хотя 
бы один раз в день начать разговор с новым для вас человеком. 
Вероятно, это для вас сначала будет трудно, но попробуйте сделать 
первый шаг навстречу людям.</span><br>
 <span>- попробуйте на насмешки и шутки отвечать тем же, но только не надо 
это делать зло, постарайтесь быть более добро-душным. А для того, 
чтобы у вас под рукой всегда было наготове несколько достойных 
шуток, займитесь сбором веселых рассказов, историй, анекдотов.</span><br>
                </div>
            </div>
        </div>        

        <div class="col-lg-12">
            <div class="card background-card">
                <div class="card-title" style="font-size: 30px; font-weight: bold; font-family: 'Montserrat', sans-serif; color: white;">Гипотим</div>
                <div class="card-body descriptions-card">
                    <span>- Попробуйте воспринимать окружающий мир с позиции победителя, 
которому все удастся в этой жизни, который никогда не проигрывает, 
всем доволен, настроен на активное действие. При этом попытайтесь 
осознать реальные преимущества, которые имеет человек, 
ощущающий себя победителей. </span><br>
                    <span>- Сознательно играйте роль шута в любой компании, где вам 
приходится быть. Эта роль поможет вам увидеть мир не таким 
мрачным, а людей не такими уж плохими.</span><br>
                    <span>- При планировании любой предстоящей работы старайтесь разбить ее 
на мелкие этапы. После того как вы выполните очередной этап, 
хвалите себя за каждую мелочь. И так каждый раз: закончен этап — 
«Я хороший, я очень хороший». </span><br>
 <span>- На большом листе бумаги составьте список «Мои достоинства» и 
поместите его на видном месте. Всматривайтесь в свои привычки, 
поступки, обратитесь к близким людям и Регулярно (сначала одни раз 
в день, затем реже) дополняйте перечень своих достоинств.</span><br>
                </div>
            </div>
        </div>        

        <div class="col-lg-12">
            <div class="card background-card">
                <div class="card-title" style="font-size: 30px; font-weight: bold; font-family: 'Montserrat', sans-serif; color: white;">Конформный</div>
                <div class="card-body descriptions-card">
                    <span>- В компании своих друзей постарайтесь чаще брать на себя роль 
лидера. Заранее придумайте дело, которое будет интересно для всех, а 
затем организуйте ребят па его вы пол пенис. При этом действуйте, 
исходя из своих представлений, а не подчиняясь групповому 
давлению. </span><br>
                    <span>- Возьмите какую-нибудь интересную для вас и ваших друзей книгу 
(или посмотрите фильм, которым увлекаются ребята), еще раз 
внимательно прочитайте се и обязательно составьте собственное 
мнение о ней. Отстаивайте собственное мнение.</span><br>
                </div>
            </div>
        </div>

           <div class="col-lg-12">
            <div class="card background-card">
                <div class="card-title" style="font-size: 30px; font-weight: bold; font-family: 'Montserrat', sans-serif; color: white;">Неустойчивый</div>
                <div class="card-body descriptions-card">
                    <span>- попробуйте жить, используя принцип: «Делу — время, потехе — 
час». Для этого следуйте правилу: очередное развлечение только 
после того, как вы выполните какое-то конкретное дело.  </span><br>
                    <span>- Составьте перечень всех своих последних увлечений, например за 
один - два месяца. Вам предстоит из всего перечня выбрать только 
одно увлечение, которое должно стать вашим постоянным хобби, 
например, на ближайшие три месяца (лучше полгода). Через полгода 
повторите анализ, составьте перечень своих увлечений и выберите 
одно - свое хобби.</span><br>
                </div>
            </div>
        </div>          


        <div class="col-lg-12">
            <div class="card background-card">
                <div class="card-title" style="font-size: 30px; font-weight: bold; font-family: 'Montserrat', sans-serif; color: white;">Астеник</div>
                <div class="card-body descriptions-card">
                    <span>- Попробуйте заняться проблемами других людей, помогайте им 
преодолевать трудности. Эта забота и внимание к окружающим 
помогут вам переключиться, снимут лишнее раздражение, придадут 
дополнительные силы. Возьмите себе за правило хотя бы один раз в 
день помогать, пусть в самом малом.</span><br>
                    <span>- Несколько раз и день подходите к зеркалу и внимательно 
рассматривайте выражение своего лица. Скорее всего, первое время 
вы будете видеть лицо обиженного, раздраженного человека. 
Постарайтесь улыбнуться самому себе, скажите при этом: «Я милый 
и хороший человек, у меня все в полном порядке. Я ни на кого не 
обижаюсь и не сержусь. Ничто меня не раздражает. Жизнь 
прекрасна!». Эти слова можно говорить и вслух. Повторите их 
несколько раз подряд, сохраняя на лице улыбку.</span><br>
                </div>
            </div>
        </div>        

        <div class="col-lg-12">
            <div class="card background-card">
                <div class="card-title" style="font-size: 30px; font-weight: bold; font-family: 'Montserrat', sans-serif; color: white;">Лабильный</div>
                <div class="card-body descriptions-card">
                    <span>- Развивайте в себе привычку анализировать все внезапные перемены в 
настроении, «что произошло, что изменило моё настроение?» чаще 
задавайте себе подобные вопросы. А когда наберется два - три 
десятка ответов, посмотрите, какие из причин встречаются чаще. 
Теперь остается самое главное — исключить причины, по которым 
ваше настроение так резко и неожиданно даже для вас изменяется. 
Постарайтесь не попадать в те ситуации, которые приводят к резкой 
смене вашего настроения в худшую сторону.</span><br>
                    <span>- Попробуйте войти в образ, например, флегматичного, спокойного 
человека, который все видел, все знает, и прожить в этом образе 
несколько часов подряд. Как бы вам трудно ни было, какие бы 
поводы и причины ни возникали, вам нельзя выходить из образа. 
Реагируйте на происходящее так, как бы реагировал ваш герой — 
флегматик. Сначала спокойно обдумайте, что собственно произошло,  
соберите дополнительную информацию для принятия необходимого 
решения, отложите его еще на некоторое время (вдруг что-то еще 
произойдет), а только потом действуйте.</span><br>
<span>- Как бы вам ни хотелось разрядить свое плохое настроение на ком-то 
из близких или знакомых, не делайте этого сразу. Найдите другой 
способ - сделайте миниразрядку, послушайте любимую запись, 
пройдитесь по парку и т. и. Нужно сформировать в себе привычку - 
не проявлять свое раздражение сразу после его появления. 
Постарайтесь переключиться на что-то более приятное. Попробуйте 
для начала прожить целый день, не раздражаясь на слова и поступки 
окружающих вас людей. Если получилось, то увеличивайте срок 
этого упражнения до двух дней подряд. Потом сделайте маленький 
перерыв и еще раз повторите.</span><br>

                </div>
            </div>
        </div>         

        <div class="col-lg-12">
            <div class="card background-card">
                <div class="card-title" style="font-size: 30px; font-weight: bold; font-family: 'Montserrat', sans-serif; color: white;">Циклоид</div>
                <div class="card-body descriptions-card">
                    <span>- Смена двух противоположных состояний — на подъёме сил: 
гипертимного; на спаде сил: гипотимного. При каждом состоянии 
следует соблюдать разные рекомендации:</span><br>
<span><b>В периоды спада</b></span><br>
                    <span>- Попробуйте воспринимать окружающий мир с позиции 
победителя, которому все удастся в этой жизни, который никогда не 
проигрывает, всем доволен, настроен на активное действие. При этом 
попытайтесь осознать реальные преимущества, которые имеет 
человек, ощущающий себя победителе. </span><br>
<span>- Сознательно играйте роль шута в любой компании, где вам 
приходится быть. Эта роль поможет вам увидеть мир не таким 
мрачным, а людей не такими уж плохими.</span><br>
<span>- При планировании любой предстоящей работы старайтесь разбить 
ее на мелкие этапы. После того как вы выполните очередной этап, 
хвалите себя за каждую мелочь. И так каждый раз: закончен этап — 
«Я хороший, я очень хороший». </span><br>
<span>- На большом листе бумаги составьте список «Мои достоинства» и 
поместите его на видном месте. Всматривайтесь в свои привычки, 
поступки, обратитесь к близким людям и Регулярно (сначала одни раз 
в день, затем реже) дополняйте перечень своих достоинств.</span><br>
<span><b>В периоды подьема сил</b></span><br>
<span>- Возьмите себе за правило — периодически приводить в порядок свои 
вещи, книги, учебники, записи. Для начала наведите элементарный 
порядок у себя па столе. Определите каждому предмету конкретное 
место и в дальнейшем постарайтесь класть его именно туда. «Навести 
порядок в своих мыслях» вы можете с помощью дневника или 
еженедельника, в котором следует записывать основные дела на 
предстоящий день и вечером проверять, всё ли вы выполнили из того, 
что было задумано. Стремитесь осуществить все намеченное. </span><br>
<span>- Давайте учиться делать одно пусть маленькое дело, но до конца. 
Установите очередность и приступайте к выполнению. До тех пор 
пока вы не закончите работу, никаких увеселений. Пусть это будет 
только раз в неделю, но обязательно одно дело доводим до конца.</span><br>
<span>- На листе бумаги запишите все свои планы на предстоящий" день. 
Теперь подумайте и зачеркните то, что «ы вряд ли сможете 
выполнить. Еще раз просмотрите оставшиеся пункты. Если не 
возникло желание вычеркнуть, то оставьте без изменений. Все 
оставшееся нужно выполнить! Приучайте себя осуществлять 
намеченное. Рекомендуем составить такой же план на предстоящую 
неделю, месяц, год. И так же поработать с ним.</span><br>
                </div>
            </div>
        </div>         
    </div>
    </div>
</div>
</div>
<!--Block 4-->