<div class="header-shadow"></div>
<div class="header-main">
    <div class="container">
    <div class="header-text">
        <div class="about-us-project-header"> 
            <span>О нашем проекте</span>
        </div>
        <div class="statistic-header">
            <span>Статистика</span>
        </div>
        <div class="get-tested-header">
            <span>Пройти тестирование</span>
        </div>
        <div class="recomendation-header">
            <span>Рекомендации</span>
        </div>
    </div>
    </div>
    </div>
</div>